html{
  cursor: url(http://northkoreaworld.com/imgs/cursor.png), auto;
  font-family: 'Bahiana';
}
p, a{
  font-size: 25px;
}
pre{
  font-family: 'Bahiana';
  font-size: 20px;
}
a{
  color: red;
}
H1{
  font-size: 50px;
}
