.Q1pic {
  TOP: 35px; 
  LEFT: 490px; 
  WIDTH: 301px; 
  HEIGHT: 452px;
  position: absolute;
}
.Q2pic1 {
  TOP: 35px; 
  LEFT: 340px; 
  WIDTH: 390px; 
  HEIGHT: 400px;
  position: absolute;
}
.Q2pic2 {
  TOP: 35px; 
  LEFT: 830px; 
  WIDTH: 390px; 
  HEIGHT: 350px;
  position: absolute;
}
.Q3pic {
  TOP: 35px; 
  LEFT: 630px; 
  WIDTH: 404px; 
  HEIGHT: 600px;
  position: absolute;
}
.Q4pic {
  TOP: 35px; 
  LEFT: 630px; 
  WIDTH: 404px; 
  HEIGHT: 600px;
  position: absolute;
}
.Q5pic {
  TOP: 35px;
  LEFT: 630px; 
  WIDTH: 404px; 
  HEIGHT: 404px;
  position: absolute;
}
.Q6pic {
  TOP: 35px; 
  LEFT: 430px; 
  WIDTH: 800px; 
  HEIGHT: 449px;
  position: absolute;
}
.Q7pic {
  TOP: 235px; 
  LEFT: 430px; 
  WIDTH: 580px; 
  HEIGHT: 272px;
  position: absolute;
}
.Q8pic {
  TOP: 135px; 
  LEFT: 330px; 
  WIDTH: 600px; 
  HEIGHT: 300px;
  position: absolute;
}
.Q9pic {
  TOP: 35px; 
  LEFT: 430px; 
  WIDTH: 425px; 
  HEIGHT: 611px;
  position: absolute;
}
.Q10pic {
  TOP: 135px; 
  LEFT: 330px; 
  WIDTH: 634px; 
  HEIGHT: 497px;
  position: absolute;
}
.Q11pic {
  TOP: 135px; 
  LEFT: 330px; 
  WIDTH: 640px; 
  HEIGHT: 425px;
  position: absolute;
}
.Q12pic1 {
  TOP: 135px; 
  LEFT: 330px; 
  WIDTH: 430px; 
  HEIGHT: 240px;
  position: absolute;
}
.Q12pic2 {
  TOP: 135px; 
  LEFT: 830px; 
  WIDTH: 430px; 
  HEIGHT: 240px;
  position: absolute;
}
.Q13pic {
  TOP: 135px; 
  LEFT: 330px;
  WIDTH: 531px; 
  HEIGHT: 375px;
  position: absolute;
}
