#page{
  width: 100%;
  height: 100%;
}
#quiz{
  width: 70%;
  height: 80%;
}
#question{
  
}
#answers{
  
}
#answera{
  
}
#linka{
  
}
#worda{
  
}
#answerb{
  
}
#linkb{
  
}
#wordb{
  
}
#answerc{
  
}
#linkc{
  
}
#wordc{
  
}
