a {
  color: hotpink;
}
html
{
  cursor: url(cursor.png), auto;
}
.title {
  text-shadow: 2px 2px 4px #999;
  text-align: center;
  margin: auto;
  font-family: 'Josefin Slab', serif;
  font-weight: bold;
  font-size: 80px;
}
.title2 {
  text-shadow: 2px 2px 4px #999;
  text-align: center;
  margin: auto;
  font-family: 'Josefin Slab', serif;
  font-weight: bold;
  font-size: 120px;
}
.button {
  display: inline-block;
  border-radius: 4px;
  background-color: #cc0000;
  border: none;
  color: #ffffff;
  text-align: center;
  font-size: 28px;
  padding: 20px;
  width: 200px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
  position: absolute; 
  top:  20px; 
  left:  1020px;
  text-shadow: 2px 2px #000000;
}
.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}
.buttonindex1 {
  display: inline-block;
  border-radius: 4px;
  background-color: #cc0000;
  border: none;
  color: #ffffff;
  text-align: center;
  font-size: 28px;
  padding: 20px;
  width: 200px;
  transition: all 0.5s;
  cursor: pointer;
  position: absolute; 
  top:  444px; 
  left:  510px;
  text-shadow: 2px 2px #000000;
  margin: 5px;
}
.buttonindex1 span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.buttonindex1 span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.buttonindex1:hover span {
  padding-right: 25px;
}

.buttonindex1:hover span:after {
  opacity: 1;
  right: 0;
}
.buttonindex2 {
  display: inline-block;
  border-radius: 4px;
  background-color: #006699;
  border: none;
  color: #ffffff;
  text-align: center;
  font-size: 28px;
  padding: 20px;
  width: 200px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
  position: absolute; 
  top:  588px; 
  left:  510px;
  text-shadow: 2px 2px #000000;
}
.buttonindex2 span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.buttonindex2 span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.buttonindex2:hover span {
  padding-right: 25px;
}

.buttonindex2:hover span:after {
  opacity: 1;
  right: 0;
}
.Q1pic {
  TOP: 35px; 
  LEFT: 490px; 
  WIDTH: 301px; 
  HEIGHT: 452px;
  position: absolute;
}
.Q2pic1 {
  TOP: 35px; 
  LEFT: 340px; 
  WIDTH: 390px; 
  HEIGHT: 400px;
  position: absolute;
}
.Q2pic2 {
  TOP: 35px; 
  LEFT: 830px; 
  WIDTH: 390px; 
  HEIGHT: 350px;
  position: absolute;
}
.Q3pic {
  TOP: 35px; 
  LEFT: 630px; 
  WIDTH: 404px; 
  HEIGHT: 600px;
  position: absolute;
}
.Q4pic {
  TOP: 35px; 
  LEFT: 630px; 
  WIDTH: 404px; 
  HEIGHT: 600px;
  position: absolute;
}
.Q5pic {
  TOP: 35px;
  LEFT: 630px; 
  WIDTH: 404px; 
  HEIGHT: 404px;
  position: absolute;
}
.Q6pic {
  TOP: 35px; 
  LEFT: 430px; 
  WIDTH: 800px; 
  HEIGHT: 449px;
  position: absolute;
}
.Q7pic {
  TOP: 235px; 
  LEFT: 430px; 
  WIDTH: 580px; 
  HEIGHT: 272px;
  position: absolute;
}
.Q8pic {
  TOP: 135px; 
  LEFT: 330px; 
  WIDTH: 600px; 
  HEIGHT: 300px;
  position: absolute;
}
.Q9pic {
  TOP: 35px; 
  LEFT: 430px; 
  WIDTH: 425px; 
  HEIGHT: 611px;
  position: absolute;
}
.Q10pic {
  TOP: 135px; 
  LEFT: 330px; 
  WIDTH: 634px; 
  HEIGHT: 497px;
  position: absolute;
}
.Q11pic {
  TOP: 135px; 
  LEFT: 330px; 
  WIDTH: 640px; 
  HEIGHT: 425px;
  position: absolute;
}
.Q12pic1 {
  TOP: 135px; 
  LEFT: 330px; 
  WIDTH: 430px; 
  HEIGHT: 240px;
  position: absolute;
}
.Q12pic2 {
  TOP: 135px; 
  LEFT: 830px; 
  WIDTH: 430px; 
  HEIGHT: 240px;
  position: absolute;
}
.Q13pic {
  TOP: 135px; 
  LEFT: 330px;
  WIDTH: 531px; 
  HEIGHT: 375px;
  position: absolute;
}
